@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-space-grotesk), ui-sans-serif, system-ui;
  background: #05070c;
}
